@model CustomerInterface.ViewModels.EditCourseViewModel

<h1 class="page-title">Ändra vald kurs</h1>
<section class="form-container">
  <h4>Kursens information</h4>
  <form class="form" asp-action="Create" method="post">
    <div class="form-control">
      <label asp-for="@Model!.CourseNumber"></label>
      <input asp-for="@Model!.CourseNumber" />      
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Title"></label>
      <input asp-for="@Model!.Title" />      
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Lenght"></label>
      <input asp-for="@Model!.Lenght" />      
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Category"></label>
      <input asp-for="@Model!.Category" />      
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Description"></label>
      <input asp-for="@Model!.Description" />      
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Details"></label>
      <input asp-for="@Model!.Details" />      
    </div>
    <div class="form-control">
      <label asp-for="@Model!.ImageUrl"></label>
      <input asp-for="@Model!.ImageUrl" />      
    </div>

    <button type="submit" class="btn">Spara</button>
  </form>
</section>