@page 
@model razorApp.Pages.Administration.CreateStudent
@{
    ViewData["Title"] = "CreateStudent";
}

<h1>@ViewData["Title"]</h1>

<header>
    <h1 class="page-title">Lägg till en ny student</h1>
</header>
<section class="form-container">
    <h4>Student information</h4>
    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="StudentModel.Firstname"></label>
                <input asp-for="StudentModel.Firstname" />
            </div>
             <div class="form-control">
                <label asp-for="StudentModel.Lastname"></label>
                <input asp-for="StudentModel.Lastname" />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.Email"></label>
                <input asp-for="StudentModel.Email" />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.PhoneNumber"></label>
                <input asp-for="StudentModel.PhoneNumber" />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.Street"></label>
                <input asp-for="StudentModel.Street" />
            </div>
             <div class="form-control">
                <label asp-for="StudentModel.StreetNumber"></label>
                <input asp-for="StudentModel.StreetNumber" />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.PostalCode"></label>
                <input asp-for="StudentModel.PostalCode" />
            </div>
             <div class="form-control">
                <label asp-for="StudentModel.City"></label>
                <input asp-for="StudentModel.City" />
            </div>
            @* <div class="form-control">
                <label asp-for="StudentModel.Password"></label>
                <input asp-for="StudentModel.Password" />
            </div> *@
            <div class="buttons">
                <button type="submit" class="btn">Spara</button>
            </div>
        </form>
    </section>
</section>
