@page 
@model razorApp.Pages.Administration.CreateCourse
@{
    ViewData["Title"] = "CreateCourse";
}

<h1>@ViewData["Title"]</h1>

<header>
    <h1 class="page-title">Lägg till en ny kurs</h1>
</header>

<section class="form-container">
    <h4>Kurs information</h4>
    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="CourseModel!.CourseNumber"></label>
                <input asp-for="CourseModel!.CourseNumber" />
            </div>
            <div class="form-control">
                <label asp-for="CourseModel!.Title"></label>
                <input asp-for="CourseModel!.Title" />
            </div>
            <div class="form-control">
                <label asp-for="CourseModel!.Lenght"></label>
                <input asp-for="CourseModel!.Lenght" />
            </div>
            @* <div class="form-control">
                <label asp-for="CourseModel!.CategoryName"></label>
                <input asp-for="CourseModel!.CategoryName" />
            </div> *@
             <div>
                @*<select asp-for="CourseModel!.CategoryId" id="categorySelect">
                    <option value="" selected disabled hidden>Välj kategori</option>
                    @foreach (var category in Model.CategoryModels!)
                    {
                        <option value="@category.CategoryId">@category.Category</option>
                    }
                </select>*@
                <select name="CategoryId" asp-items="Model.CategoryModels"></select>
            </div>

            <div class="form-control">
                <label asp-for="CourseModel!.Description"></label>
                <input asp-for="CourseModel!.Description" />
            </div>
            <div class="form-control">
                <label asp-for="CourseModel!.Details"></label>
                <input asp-for="CourseModel!.Details" />
            </div>
            <div class="form-control">
                <label asp-for="CourseModel!.TeacherId"></label>
                <input asp-for="CourseModel!.TeacherId" />
            </div>
            <div class="buttons">
                <button type="submit" asp-page-handler="Async" asp-route-categoryId="" class="btn">Spara</button>
            </div>
        </form>
    </section>
</section>
