@page
@model razorApp.Pages.Administration.DeleteCourse
@{
    ViewData["Title"] = "DeleteCourse";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>Är du säker på att du vill ta bort kursen?</p>
    <h3>@Model.CourseModel!.Title</h3>
        
        <form method="post">
            <input asp-for="CourseModel!.CourseId" type="hidden">
            <button class="box-button" type="submit">Ja!</button>
        </form>
</div>