@page
@model razorApp.Pages.Administration.Index
@{
    ViewData["Title"] = "Administration";
}

<header>
    <h1 class="page-title">Admin portal</h1>
</header>

    <p class="page-title">Inloggad som</p>
<h1>@ViewData["Title"]</h1>

        <ul>
            <li><a asp-page="/Administration/CourseGallery">Kurser</a></li>
            <li><a asp-page="/Administration/StudentGallery">Studenter</a></li>
            <li><a asp-page="/Administration/TeacherGallery">Lärare</a></li>
        </ul>
