@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1 class= "page-title">Välkommen till Westcoast Education</h1>

    @* <p class="page-title">Inloggad som</p> *@
<h1>@ViewData["Title"]</h1>

        <ul>
            <li><a asp-page="/CourseGallery">Alla kurser</a></li>
        </ul>
        <ul>
            <li><a asp-page="/CategoryGallery">Lista kurser efter kategori</a></li>
        </ul>



