@* @page
@model razorApp.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
        <label for="users">Logga in</label>
        <select id="users" name="userId">
            
        <button type="submit">Logga in</button>
    </form>

    <p>
        Inget konto? <a asp-page="/Register"></a>
    </p>
</div> *@