@page
@model razorApp.Pages.RegistraionConfirmation
@{
    ViewData["Title"] = "RegistraionConfirmation";
}

<h1>@ViewData["Title"]</h1>

<h1 class= "page-title">Du har registrerat dig på kursen!!!</h1>
<br>
 <a class="go-back" asp-page="/CourseGallery"><i class="fa-solid fa-left-long"></i>Gå tillbaka till kurserna</a>
<br>
