<nav>
       <ul>
           <li><a asp-controller="Admin" asp-action="StudentAdmin">Studenter</a></li>
           <li><a asp-controller="Admin" asp-action="TeacherAdmin">Lärare</a></li>
           <li><a asp-controller="Admin" asp-action="CoursesAdmin">Kurser</a></li>
       </ul>
   </nav>